body{
    background: #AA076B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 20px;

}

.calculator{
    width: 500px;
    @media screen and (max-width:550px) {
        width: 400px;
    }
    height: auto; 
    padding-bottom: 20px;
    box-shadow: 0 20px 40px rgba($color: #000000, $alpha: .30);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
  h2{
     letter-spacing: 4px;
  }
    &-display{
        min-width: 400px;
        min-height: 400px;
      
        display: grid;
        grid-template-columns: repeat(4, 1fr);
       button{
           &:focus{
               outline: none;
           }
        color: white;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.537);
           font-size: 35px;
           width: 80px;
           height: 80px;
           @media screen and (max-width:550px) {
            font-size: 25px;
           width: 60px;
           height: 60px;
        }
           text-transform: uppercase;
           border-radius: 50%;
           margin: 5px;
           border: none;

       }
    }

    .zero{
        grid-column: 1/span 2;
        width: 180px;
        border-radius: 100px;
        @media screen and (max-width:550px){
            width: 160px;
        }
        
    }

    .ac, .pn, .percentage{
        background-color: rgba(255, 255, 255, 0.685);
        color: black;
    }
    .division, .multi, .plus, .minus, .equal{
        background: #ff8d2f;  /* fallback for old browsers */
   }

  
}
